
.vs/
.vscode/
.idea/
dist/
.history/
.DS_Store
*.code-workspace

*.deb
debug.log

node_modules/
bin/
obj/


*.code-workspace
StandupHelper.sln.DotSettings.user
*.ncrunchsolution.user
*.csproj.user

junit.xml