<!DOCTYPE html>
<html lang="no">
  <head>
    <title>Laster&hellip;</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"  />
  <link href="/dist/main-bundle-0ae0c0cb6f6dd7f3844f.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <script>
      var initialState = @Html.Raw(Model.ToString());
    </script>
  <script type="text/javascript" src="/dist/main-bundle-0ae0c0cb6f6dd7f3844f.js"></script></body>
</html>