@import (reference) "~@udir/udir-react-components/static/less/common/constants.less";

.Issue {
  background: @lightgrey;
  position: relative;
  padding: 6rem 4rem 2rem;
  height: 100vh;

  --bg-color: @lightgrey;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--yellow {
    background: @yellow;

    --bg-color: @yellow;
  }

  &--red {
    background: @red;

    --bg-color: @red;
  }

  &--green {
    background: @green;

    --bg-color: @green;
  }

  &--blue {
    background: @blue;

    --bg-color: @blue;
  }

  &--white {
    background: @white;

    --bg-color: @white;
  }

  &--grey {
    background: @grey;

    --bg-color: @grey;
  }

  &--offwhite {
    background: @offwhite;

    --bg-color: @offwhite;
  }

  &--overview {
    height: auto;
    margin: 0 0 1rem 0;
    padding: 1.5rem;
    transform: none;
  }

  &-header {
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &-title {
    border-bottom: 0.125rem solid @black;

    &-content {
      display: inline-block;
      width: 95%;
    }
  }

  &--overview &-header {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 2rem;
  }

  &--overview &-title {
    border-bottom: none;

    &-content {
      display: inline;
    }
  }

  &-avatar {
    max-height: 3rem;
    max-width: 3rem;
    margin-top: 0.25rem;
    float: right;
  }

  &-assignee {
    float: right;
    font-size: 1.5rem;
  }

  &-description {
    font-size: 2rem;
    word-break: break-word;
    overflow: hidden;
    height: 30rem;
    background:
      linear-gradient(var(--bg-color) 30%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), var(--bg-color) 70%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2rem, 100% 2rem, 100% 1rem, 100% 1rem;
    background-attachment: local, local, scroll, scroll;
  }

  &-footer {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
  }
}
