.Issue {
  
  &-details {
    height: 30rem;
  }

  &-avatar {
    max-height: 48px;
    max-width: 48px;
  }

  &-description {
    height: 11rem;
    font-size: 2rem;
    margin-top: 3.5rem;
    word-break: break-word;
    overflow: hidden;
  }

  &-steps {
    margin-top: 5rem;
  }

  &-step {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  &--small {
    height: 10rem;
    width: 25rem;
  }
}